body {
	height: 100%;
	width: 100%;
	margin: auto;
}

/*main {
	margin-top: 10px;
}
*/
.navbar {
	background-color: #FFF;
	width: 100%;
	margin-bottom: auto;
}

.navbar-brand img {
	width: 100%;
	margin-top: -10px;

}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
	background-color: #9fc4e3;
	color: #fff;
}

.footer {
	height: 30px;
	padding: 5px;
	color: #FFF;
	background-color: #23415c;
}

.link {
	color: #d9edf7;
}

.link a:hover,
.link a:focus {
  color: #337ab7;
  text-decoration: underline;
}